<h1>Liste des PCs</h1>
<form method="get" name="formulaire" action="{{ url('computers.new') }}">
  <button type="submit">Ajouter</button>
</form>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>MARQUE</th>
    <th>PRIX</th>
    <th>ID_USER</th>
    <th>ACTION</th>
  </tr>
</thead>
<tbdoy>
{% for computer in computers %}
   <tr>
     <td>{{computer.id}}</td>
     <td>{{computer.marque}}</td>
     <td>{{computer.prix}}</td>
     <td>{{computer.idUser}}</td>
     <td>
       <form method="post" name="formulaire" action="{{ url('computers.delete', {id: computer.id}) }}">
            <button type="submit">Supprimer</button>
        </form>
      </td>
      <td>
        <form method="get" name="formulaire" action="{{ url('computers.edit', {id: computer.id}) }}">
          <button type="submit">Modifier</button>
        </form>
      </td>
   </tr>
{% endfor %}
</tbdoy>
</table>
